body{
	padding: 0;
	margin: 0 10%;
}
a{
	text-decoration: none;
}
.left{
	float: left;
}
.right{
	float: right;
}

.center{
	margin: 0 15%;
}

.header{
	height: 100px;
	background: #da3;
}
.clear{
	clear: both;
}
.infoMessage{
	border: solid black 1px;
	border-right: 0px;
	border-left: 1px;
}